html, body {
  margin: 0; padding: 0;
  height: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #333;
  color: #f0f0f0;
  font-size: 16px;
  line-height: 15px;
  padding-bottom: 100%;
}

#app {
  height: 100%;
}

button {
  background-color: #333;
  color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

/* Tasks */

.tasks {
  width: 66.67%;
  display: block;
  padding: 0px 16px;
}

.task {
  flex-grow: 1;
  position: relative;
  background-color: #222;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  cursor: text;
  min-width: 300px;
  user-select: none;
}

.task:hover {
  background-color: #252525;
}

.task button {
  display: flex;
  visibility: hidden;
  border: 1px solid #444;
  margin-left: 8px;
  padding: 8px 12px;
}

.task:hover button {
  visibility: visible;
}


.task input:focus {
  outline: none;
}

.task input:first-line {
  display: inline-block;    
}

.task input {
  background-color: transparent;
  color: #f0f0f0;
  font-size: 16px;
}

.break {
  height: 16px;
  padding-left: 24px;
  background-color: transparent;
}

.break:hover {
  background-color: #353535;
}

.view {
  display: flex;
  flex-grow: 1;
}

.countdown {
  margin-left: 16px;
  color: #F6BB3F;
  align-self: flex-end;
}

.text {
  width: 100%;
}

.done {

}

.done .view {
  color: #666;
  text-decoration: line-through;
}

.done .estimate {
  color: #666;
}

.done .complete {
  color: #f0f0f0;
}

button.complete {
  color: green;
}

button.delete {
  color: red;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-right: 16px;
  cursor: pointer;
  flex-shrink: 0;
}

.task.category-personal {
  border-left: 6px solid #28CD41;
}

.task.category-momo {
  border-left: 6px solid #C697C5;
}

.task.category-freelance {
  border-left: 6px solid #F6BB3F;
}

.task.category-tu {
  border-left: 6px solid #0697CF;
}

.category-personal .icon {
  background: transparent url('./icons/man.png?height=16') no-repeat top left;
}

.category-momo .icon {
  background: transparent url('./icons/momo.png?height=16') no-repeat top left;
}

.category-freelance .icon {
  background: transparent url('./icons/freelance.png?height=16') no-repeat top left;
}

.category-tu .icon {
  background: transparent url('./icons/tu.png?height=16') no-repeat top left;
}

.estimate {
  margin-right: 16px;
  width: 32px;
  color: #ccc;
  user-select: none;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
}

.estimate:hover {
  color: #f0f0f0;
}

.list-controls {
  padding: 8px 8px;
}

.task-container {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  margin-bottom: 8px;
}

.task-estimate {
  color: #666;
  margin-left: 16px;
  margin-bottom: -11px;
  align-self: flex-end;
  min-width: 48px;
  text-align: right;
  font-family: monospace;
}

.task-buttons {
  display: flex;
  margin-left: auto;
  height: 32px;
}

.buttons-vertical button {
  padding: 0 12px;
  line-height: 14px;
}

.debug {
  position: fixed;
  top: 0;
  right: 0;
}

.day {
  min-width: 300px;
}

.day h2 {
  text-transform: capitalize;
  font-size: 18px;
  color: #aaa;
  margin-right: 12px;
}

.today h2 {
  color: #f0f0f0;
}

.day .title {
  display: flex;
  margin-top: 24px;
}

.day .title button {
  align-self: center;
  margin: 8px;
}

.progress {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.progress span {
  margin-left: 16px;
  color: #ccc;
  min-width: 48px;
  text-align: right;
  font-family: monospace;
}

.dragged {
  z-index: 999;
}
